In [184]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os

In [185]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [186]:
def combine_df(new_df,index):
    global df
    new_df = new_df[['Reaction Time','display']].dropna()
    new_df['display'] = new_df['display'].loc[(new_df['display'].str.contains('Question'))]
    new_df = new_df[['Reaction Time','display']].dropna()
    new_df = new_df.transpose()
    new_df = new_df.rename(columns=new_df.iloc[1]).drop('display')
    new_df['Is Military'] = 0
    new_df.rename(index={'Reaction Time': index},inplace=True)
    df = pd.concat([df,new_df],axis=0)

In [187]:
folders = ['NON MILITARY','MILITARY']
for f_index,folder in enumerate(folders):
    for fn_index,filename in enumerate(os.listdir('NON MILITARY/')):
        print(fn_index)
        new_df = pd.read_csv(f'NON MILITARY/{filename}')
        combine_df(new_df,fn_index)

['Adham Aswan.csv', 'Ahmad_Farhan_Ariffin.csv', 'apez.csv', 'ayip.csv', 'azfar haikal.csv', 'azri anwar.csv', 'iqram.csv', 'MuhammadAfiqIrfan.csv', 'Tengku_Naim.csv']
0
1
2
3
4
5
6
7
8

In [188]:
df

,Question 1 - b4q1,Question 2 - b2p2,Question 3 - b3p4,Question 4 - b1p5,Question 5 - b4p2,Question 6 - b3p3,Question 7 - b1p1,Question 8 - b2p5,Question 9 - b4p3,Question 10 - b3p2,...,Question 12 - b1p2,Question 13 - b4p4,Question 14 - b1p4,Question 15 - b2p4,Question 16 - b3p5,Question 17 - b2p3,Question 18 - b4p5,Question 19 - b3p1,Question 20 - b1p3,Is Military
0,4073.594999994384,2037.1850000228733,2021.6200000140816,4952.069999999367,5132.904999976745,1609.8599999968428,4969.794999982696,1324.1850000049453,1748.9749999949709,1366.5449999971315,...,1401.7800000146963,1561.4549999882001,1340.9999999857973,4344.559999997728,4671.0000000020955,2128.724999987753,2065.1799999759533,2495.330000005197,1515.320000005886,0
1,2802.825,1353.925,1340.44,8413.4,2918.18,1876.91,3535.55,1102.585,1665.195,718.395,...,925.235,2291.07,1334.475,1444.07,3231.33,1524.815,2649.135,2967.45,1749.92,0
2,3632.19,967.47,714.645,15733.735,1072.015,1157.98,1913.805,2050.255,1151.76,689.755,...,694.99,1087.245,701.15,2648.005,2052.81,917.57,2106.195,1257.405,1004.575,0
3,2129.45,1172.41,1248.42,10026.225,1693.14,981.11,3205.95,1063.37,854.345,735.525,...,702.305,872.225,710.2,1531.94,1128.55,1349.355,2495.675,998.315,776.565,0
4,3310.11,1164.48,1317.275,6629.5,2404.23,1545.255,1948.215,803.91,1267.235,721.655,...,876.52,1199.48,710.355,4998.185,1591.375,996.05,1733.945,988.12,893.865,0
5,1353.445,1099.445,1103.275,1986.275,1287.82,1133.595,2826.895,2663.28,1197.435,848.12,...,976.525,1280.295,1198.725,2451.48,1812.95,1184.78,16695.235,1424.58,1137.7,0
6,2371.915,1236.76,1801.015,6710.41,1696.515,1579.25,5387.95,966.255,1045.25,828.605,...,906.81,1086.29,667.165,993.185,15512.42,1068.465,1077.655,1897.525,1045.89,0
7,5341.44,896.255,863.43,6769.215,2198.305,862.125,2736.18,740.51,1622.535,680.14,...,887.745,1285.895,688.65,1032.29,906.62,990.725,1792.095,855.95,705.31,0
8,5963.72,908.16,987.045,11121.825,2877.38,1400.445,3076.09,1248.21,1130.235,707.8,...,662.19,1032.375,591.105,4274.31,9858.335,1030.19,3770.505,1606.415,764.175,0

In [189]:
df.isna().sum()

Question 1 - b4q1     0
Question 2 - b2p2     0
Question 3 - b3p4     0
Question 4 - b1p5     0
Question 5 - b4p2     0
Question 6 - b3p3     0
Question 7 - b1p1     0
Question 8 - b2p5     0
Question 9 - b4p3     0
Question 10 - b3p2    0
Question 11 - b2p1    0
Question 12 - b1p2    0
Question 13 - b4p4    0
Question 14 - b1p4    0
Question 15 - b2p4    0
Question 16 - b3p5    0
Question 17 - b2p3    0
Question 18 - b4p5    0
Question 19 - b3p1    0
Question 20 - b1p3    0
Is Military           0
dtype: int64